/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    border-bottom: 2px solid #e00a1e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}
